/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

*/
/* universal reset for browser abnormality*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;/*changes to box model so boarders and headings no longer
    added to total width v_below_v*/
}
/* Us the power of inheritance of CSS classes 
to set these values for all children
SET ALL BODY WIDE STYLES
*/

body {
    font-family: "Lato", sans-serif;
    font-size: 16px;
    font-weight: 400;
    /*set height of default lines? */
    line-height: 1.7;
    color: #777;
    /*Creates nice white background/grey body border near edges*/
    padding: 30px;
    
}

.header{
    /* set how much % of the viewport this element takes up*/
    height: 95vh;
    background-image: linear-gradient(
        to right bottom,
        rgba(126,213,111,.8),
        rgba(40, 180, 131,.8)),
         url('../img/hero.jpg');
    /* Ensures image is scaled correctly to fill the viewport */
    background-size: cover;
    /* Ensures that the scaling is fixed to keep the top visible  */
    background-position: top;
    position: relative;
    /* t-left, t-right, bleft, b-right
    x should be one hundred percent away
    */
    /* Sepcify a point on the canvas with a polygon
    google Clippy for custom shapes*/
    clip-path: polygon(0 0, 100% 0, 100% 82vh,0 100%);
}

.logo-box {
    /*absolute positioning*/
    position: absolute;
    top: 40px;
    left: 40px;
}

.logo {
    height: 35px;
}


.text-box {
    position: absolute;
    top: 40%;
    left: 53%;
    transform: translate(-50%,-50%);
    /* this will center out button because it is "text"*/
    text-align: center;
}
.heading-primary {
    color: #ffffff;
    text-transform: Uppercase;
    /*Hack to fix shaking animations*/
    backface-visibility: hidden;
    /*To space the button below the text box*/
    margin-bottom: 50px;    
}

.heading-primary-main {
    display: block;
    font-size: 60px;
    /* font weight is how the font is*/
    font-weight: 400;
    letter-spacing: 30px;
    animation-name: moveInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    
    /*
    animation-iteration-count: 3;
    animation-delay: 3s;
    */
}

.heading-primary-sub {
    display:block;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 15px;
    animation-name: moveInRight;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    /*transition is easier*/

}

@keyframes moveInLeft {
    0% {
        opacity:0;
        transform: translateX(-100px);
    }
    80% {
        transform: translateX(10px);
        
    }
    100% {
        opacity:1;
        transform: translate(0);
    }
    
}

@keyframes moveInRight {
    0% {
        opacity:0;
        transform: translateX(100px);
    }
    90% {
        transform: translateX(-10px);
    }
    100% {
        opacity:1;
        transform: translate(0);
    }
    
}

.btn:link,
.btn:visited {
    text-transform: uppercase;
    /* underline etc*/
    text-decoration: none;
    display: inline-block;
}

.btn-white {
    background-color: #fff;
    padding: 15px 40px;

}
/* link pseudoclass is a special state
we can set visited and standard states (blue and greyed out link after clicking)
to be the same
*/
/*What the button looks like when you click it*/

